.divone{
    background-color: rgb(59,89,152);
    height: 80px;
    width: 1348px;
    display: flex;
    
}
.two span{
color: white;
font-size: 40px;
font-weight: bold;
position: relative;
top: 10px;
margin-left: 200px;
}
.three{
    /* background-color: brown; */
width: 400px;
height: 78px;
margin-left: 370px;
}
.three #four{
background-color: white;
width: 150px;
height:20px;
position: relative;
top: 29px;
right: 104px;

}
.three #five{
color: white;
position: relative;
bottom: -5px;

}
.three #six{
    color: white;
    position: relative;
bottom: -5px;
right: 60px;

}
.three #wide{
    position: relative;
    left: 220px;
    background-color: #4267b2;
    border-color: #29487d;
    color: white;
    /* font-weight: bold; */
    border: 1px solid #ccd0d5;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    vertical-align: top;
    white-space: nowrap;
}
.three #seven{
    background-color: white;
width: 150px;
height:20px;
position: relative;
/* top: 0px; */
left: 200px;
}
.eight{
    height: 700px;
    width: 1348px;
    background: linear-gradient(white, #D3D8E8);
    /* margin-right: 15px; */
    /* width: 565px; */
}
.eight #nine{
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    margin-left: 200px;
    width: 450px;
    word-spacing: -1px;
    float: left;
    /* position: relative; */

}
.eight #ten{
    margin-left: 20px;
    position: relative;
    top: 100px;
    right: 480px;
}
.eleven{
    position: relative;
    left: 720px;
    top: -180px;
    font-size: 40px;
    font-weight: 630;
    /* font-family: inherit; */

}
.eleven #twelve{
    position: relative;
    left: -320px;
    top: 40px;
    font-size: 20px;
}
.thirteen{
    position: relative;
    left: 725px;
    top: -120px;
    width: 172px;
    border-color: #bdc7d8;
    /* border-radius: 5px; */
    margin: 0;
    width: 377px;
    font-size: 18px;
    padding: 8px 10px;
    /* border: 1px solid #ccd0d5; */


}
.thirteen #forteen{
    width: 180px;
    height: 30px;
    border-radius: 5px;
    border-color:#bdc7d8;

}
.thirteen #fifteen{
    width: 370px;
    height: 30px;
    border-radius: 5px;
    border-color:#bdc7d8;
    
}
.thirteen #seventeen{
    position: relative;
    top: 15px;
    /* font-family: inherit; */
}
.thirteen #eighteen{
    position: relative;
    top: 45px;
    right: 65px;
    padding: 5px;
    background-color: #fff;
    color: #1c1e21;
    border: 1px solid #ccd0d5;
}
.ninteen{
    position: relative;
    top: 80px;
    right: 273px;

}
.twenty{
    position: relative;
    top: 120px;
    right: 320px;
}
#twentyone{
    position: relative;
    top: 95px;
    right: -40px;
}
.twentytwo{
    position: relative;
    top: 95px;
    right: -60px;
}
#twentythree{
    position: relative;
    top: 95px;
    right: -60px;
}
.twentyfour{
    position: relative;
    top: 95px;
    right: -80px;
}
#twentyfive{
    position: relative;
    top: 95px;
    right: -80px;
}
.twentysix{
    position: relative;
    top: 100px;
    right: -5px;
    font-size: 12px;
    width: 300px;
}
.twentyseven{
    position: relative;
    top: 100px;
    right: -5px;
    width: 180px;
    height: 40px;
    color: #fff;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    background-color: #3e7721;
}
.twentyeight{
    position: relative;
    top: 120px;
    right: -10px;
    font-size: 15px;
}